@model ConsumativeDetailsViewModel

@using AirsoftWebStore.Services.Contracts;
@using AirsoftWebStore.Web.Infrastructure.Extensions;
@using static AirsoftWebStore.Common.GeneralApplicationConstants;

@inject IGunsmithService gunsmithService;

@{
    ViewBag.Title = "Details";

    bool isAuthenticated = User.Identity?.IsAuthenticated ?? false;
    bool isUserAdmin = isAuthenticated && User.IsInRole(AdminRoleName);
    bool isUserGunsmith = isAuthenticated && await gunsmithService.IsGunsmithAsync(User.GetId()!);
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr class="mb-5" />

<div style="display: flex; align-items: flex-start;">
    <div class="align-content-between" style="flex: 1;">
        <img src="@Model.ImageUrl" alt="@Model.Name" style="max-width: 400px; border: 1px solid #ccc; padding: 5px; display: block; margin: 0 auto;" />
    </div>
    <div style="flex: 1; padding-left: 20px;">
        <h2>@Model.Name</h2>
        <p><strong>Description:</strong> @Model.Description</p>
        <p><strong>Price:</strong> $@Model.Price</p>

        @if (Model.Quantity == 0)
        {
            <span class="text-secondary">*Out of Stock*</span>
        }
        else
        {
            <p><strong>Availible:</strong> @Model.Quantity</p>
            if (!isUserAdmin)
            {
                <a class="btn btn-primary" asp-controller="Cart" asp-action="AddToCart" asp-route-itemId="@Model.Id.ToString()" asp-route-quantity="1" asp-route-productType="consumative">Add to Cart</a>
            }
        }
    </div>
</div>

<hr class="mt-5" />

<div style="margin-top: 20px;">
    <a asp-controller="Consumative" asp-action="All" class="btn btn-warning fw-bold">Back to all</a>
</div>
@if (isUserAdmin || isUserGunsmith)
{
    <div style="margin-top: 20px;">
        <a asp-controller="Consumative" asp-action="Edit" asp-route-id="@Model.Id.ToString()" class="mb-3 btn btn-warning">Edit</a>
    </div>
    <div style="margin-top: 20px;">
        <a asp-controller="Consumative" asp-action="Delete" asp-route-id="@Model.Id.ToString()" class="mb-3 btn btn-danger">Delete</a>
    </div>
}
