@model CartViewModel

<h2>Your Shopping Cart</h2>

@if (Model.CartItems.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.PricePerItem</td>
                    <td>@item.TotalPrice</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right"><strong>Total:</strong></td>
                <td>@Model.TotalPrice</td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <p>Your shopping cart is empty.</p>
}

<a asp-controller="Home" asp-action="Index">Continue Shopping</a>