@model CartViewModel

<h2>Your Shopping Cart</h2>

@if (Model.CartItems.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>$@item.PricePerItem</td>
                    <td>$@item.TotalPrice</td>
                    <td>
                        @if (item.ProductType == "gun")
                        {
                            <a asp-controller="Gun" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-dark">Details</a>
                        }
                        else if (item.ProductType == "part")
                        {
                            <a asp-controller="Part" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-dark">Details</a>
                        }
                        else if (item.ProductType == "equipment")
                        {
                            <a asp-controller="Equipment" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-dark">Details</a>
                        }
                        else if (item.ProductType == "consumative")
                        {
                            <a asp-controller="Consumative" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-dark">Details</a>
                        }
                        <a asp-controller="Cart" asp-action="RemoveItem" asp-route-itemId="@item.CartItemId" class="btn btn-danger">Remove</a>
                    </td>
                </tr>

            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right"><strong>Total:</strong></td>
                <td>$@Model.TotalPrice</td>
            </tr>
        </tfoot>
    </table>
    <div id="purchaseErrorMessage" style="display: none;" class="text-danger">
        You don't have enough money to purchase all items in your cart. Think of making a deposit.
    </div>

    <a class="btn btn-success" asp-controller="Cart" asp-action="PurchaseAll">Purchase</a>
}
else
{
    <p>Your shopping cart is empty.</p>
}

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Continue Shopping</a>