@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Home Page";

    var products = Model.ToList();
}

<div class="mb-5"></div>

<h2>Are you <strong>READY</strong>?</h2>
<h2><strong>PREPARE</strong>!</h2>

<img class="mt-5 img-thumbnail" src="https://images.unsplash.com/photo-1615589184022-96f33f0c39b4?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />

<div class="text-center" style="margin-top: 10rem">
    <div class="row">
        <div class="col">
            <a asp-controller="Gun" asp-action="All" class="btn btn-outline-dark btn-lg">Replicas</a>
        </div>
        <div class="col">
            <a asp-controller="Equipment" asp-action="All" class="btn btn-outline-dark btn-lg">Equipment</a>
        </div>
        <div class="col">
            <a asp-controller="Part" asp-action="All" class="btn btn-outline-dark btn-lg">Parts</a>
        </div>
        <div class="col">
            <a asp-controller="Consumative" asp-action="All" class="btn btn-outline-dark btn-lg">Consumatives</a>
        </div>
    </div>
</div>

<h2 class="text-center" style="margin-top: 10rem">Some of Our Products:</h2>

<div id="carouselExampleControls" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        @if (products.Count == 0)
        {
            <p class="text-center">No replicas currently availible! You can check the <a asp-controller="Equipment" asp-action="All">equipment</a>!</p>
        }
        else
        {
            @for (int i = 0; i < products.Count; i++)
            {
                var product = products[i];
                <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                    <div class="d-flex justify-content-center">
                        <img class="img-thumbnail" style="height:500px" src="@product.ImageUrl" alt="@product.Name">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>
                            <a class="btn btn-primary" asp-controller="Gun" asp-action="Details" asp-route-id="@product.Id">
                                @product.Name
                            </a>
                        </h5>
                    </div>
                </div>
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>